.main {
  font-size: 1.2rem;
}

.main form {
  padding: 20px;
  background-color: #ffd369;
}

.main form input,
.main form textarea {
  background-color: #eee;
  border: 1px solid black;
}

.orderNumber {
  display: none;
}
