body {
  margin: 0;
}

.container-fluid {
  padding: 0;
}

/* header */
header {
  width: 100%;
  text-align: center;
  background-color: #eeeeee;
}

header a,
header h1 {
  display: inline-block;
  vertical-align: middle;
}

header h1 {
  margin-left: 20px;
}

.logo {
  width: 100px;
  height: 100px;
}

.bg-dark {
  background-color: #222831;
}

nav {
  font-family: 'Teko', sans-serif;
  font-size: 1.5rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

a.nav-link:hover {
  background-color: #ffd369;
  color: #ffffff;
}

/* main */
.main {
  margin: 0;
}

.main img {
  width: 100%;
}

.breadcrumbs {
  display: none;
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  color: #393e46;
  padding: 20px;
  background-color: #eeeeee;
  margin: 0;
}

/* card */
.card {
  display: inline-block;
  text-align: center;
  border: 1px solid #393e46;
  font-family: 'Dancing Script', cursive;
}

.card-content {
  border-top: 1px solid #393e46;
}

.card-content h4 {
  margin-top: 20px;
  font-size: 2rem;
  color: #222831;
}

.card-content p {
  font-size: 1.2rem;
  color: #393e46;
}

.card-content .price {
  font-size: 1rem;
  color: #222831;
}

/* footer */
footer {
  background-color: black;
  text-align: right;
}

footer p {
  margin: 0;
  color: white;
  padding: 20px;
}

footer h4 {
  margin: 0;
  color: white;
  margin-right: 15px;
  padding: 30px 10px 10px;
  font-size: 1rem;
}

footer form {
  padding-right: 20px;
}

.email-input {
  height: 30px;
  width: 205px;
  background: #eeeeee;
  border-color: transparent;
  border-radius: 10px 0 0 10px;
  border: none;
  padding: 0 0 0 20px;
}

.email-input:focus {
  outline: none;
}

.email-btn {
  text-align: center;
  margin-left: -5px;
}

.email-btn button {
  height: 30px;
  border-radius: 0 10px 10px 0;
  background: #393e46;
  color: #fff;
  border: none;
  padding: 0 10px;
}

@media only screen and (min-width: 1001px) {
  .card {
    width: calc(50% - 2px);
  }

  .cover-phone {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  nav {
    font-size: 3rem;
  }

  .cover {
    display: none;
  }

  .breadcrumbs {
    font-size: 2rem;
  }

  .card {
    width: 100%;
  }

  .card-content h4 {
    font-size: 4rem;
  }

  .card-content p {
    font-size: 2rem;
  }

  .card-content .price {
    font-size: 2rem;
  }

  footer h4 {
    font-size: 1.5rem;
  }

  .email-input {
    width: 320px;
    font-size: 1.5rem;
    height: 50px;
  }

  .email-btn button {
    font-size: 1.5rem;
    height: 50px;
  }
}
